
// BOX & BUTTON
@mixin grid_box ($back_color: $color-primary) {
  background-color: $back_color;
  @extend %rounded_box;
  width: 430px;
  font-weight: bold;
  padding: 13px;
  text-align: left;
  margin: 3px;
  @content;
}

@mixin button ($back_color: $color-primary){
  background-color: $back_color;
  @extend %rounded_box;
  margin: 25px auto auto auto;
  width: 410px;
  height: 50px;
  border: none;
  color: $white;
  text-transform: uppercase;
  font-weight: bolder;
  @content;
}

// MEDIA QUERIES


// FLEXBOX
