

// FONTS
$font-primary: 'Lato', sans-serif;


// BREAKPOINTS
$breakpoints: (
  'sm': 480px,
  'med': 769px,
  'lg': 1400px,
);

// COLORS
$white: #fff;

$color-font-primary: #878787;
$color-font-secondary: #C3F3E9; // LIGHT TURQOISE

$color-primary: #58E1C1; // TURQOISE
$color-secondary: #51DDFC; // AQUA BLUE
