

// FONTS
$font-primary: 'Lato', sans-serif;


// BREAKPOINTS
$breakpoints: (
  'sm': 480px,
  'med': 769px,
  'lg': 1400px,
);

// COLORS
$white: #fff;

$color-font-primary: #878787;

$color-primary: #58E1C1; // TURQOISE
$color-secondary: #51DDFC; // AQUA BLUE
$color-success: #63CC82; // GREEN
$color-error: #E4757A; // MAROON
$color-warning: #FD7856; // RED-ORANGE
$color-info: #927BC1; // PURPLE
