
.btn {
  &--default {
    @include button;
    background-color: $color-secondary;
    margin-top: 60px;
  }
  &--success {
    @include button;
    background-color: $color-success;
  }
  &--error {
    @include button;
    background-color: $color-error;
  }
  &--warning {
    @include button;
    background-color: $color-warning;
  }
  &--info {
    @include button;
    background-color: $color-info;
  }
}
