
.form {
  display: flex;
  flex-direction: column;
  &__label--hidden {
    display: none;
  }
  &__input {
    margin: 15px 50px 15px 50px;
    font-size: .9em;
    font-weight: bolder;
    border: none;
    border-bottom: solid $color-primary 5px;
    padding: 10px;
    &:focus {
      outline: 0;
    }
  }
}
