
.img {
  &--logo {
    margin: 45px 45px 30px 45px;
  }
  &--avatar {
    margin: auto;
  }
  &--frame {
    width: 410px;
    border: 1px solid lightgrey;
    margin: 35px;
    padding: 15px;
  }
}
