
.nav {
  margin-bottom: 70px;
  @media (min-width: map-get($breakpoints, "med")) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 54px auto 50px auto;
  }
  @media (min-width: map-get($breakpoints, "lg")) {
    align-items: flex-start;
    justify-content: normal;
    width: 415px;
  }
  &__item {
    a {
      @extend %rounded_box;
      color: $color-font-primary;
      display: block;
      width: 410px;
      padding: 15px 100px 15px 100px;
      &:hover {
        background-color: $color-primary;
        color: $white;
      }
      @media (min-width: map-get($breakpoints, "med")) {
        width: auto;
        padding: 10px;
      }
      @media (min-width: map-get($breakpoints, "lg")) {
        margin-right: 30px;
      }
    }
  }
}
