

* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $color-font-primary;
  font-size: 1.1em;
  text-align: center;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  line-height: 1.5em;
  text-align: left;
}
